{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="col-sm-12">
        <h2 style="color: white">
            {{ 'home.your_results'|trans({},'AppBundle') }} <span><strong>{{ resultCount }}</strong></span> {{ 'home.participants_results'|trans({},'AppBundle') }} <span><strong>{{ eventCount }}</strong></span> {{ 'home.events'|trans({},'AppBundle') }}
        </h2>
    </div>
    <div class="row">
        <div class="col-sm-5">

            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>{{ 'form.titles.login'|trans }}</h3>
                        <p>{{ 'form.subtitles.login'|trans }}:</p>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-key"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    {{ render(controller('FOSUserBundle:Security:login')) }}
                </div>
                {% render url('hwi_oauth_connect') %}
            </div>

        </div>

        <div class="col-sm-1 middle-border"></div>
        <div class="col-sm-1"></div>

        <div class="col-sm-5">

            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>{{ 'form.titles.register'|trans }}</h3>
                        <p>{{ 'form.subtitles.register'|trans }}:</p>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    {{ render(controller('FOSUserBundle:Registration:register')) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}